output.elasticsearch:
  hosts: ["http://{{ hostvars['el-instance']['ansible_facts']['default_ipv4']['address'] }}:9200"]
setup.kibana:
  host: "172.29.249.243:5601"
filebeat.config.modules.path: ${path.config}/modules.d/*.yml
heeloo!
