# Kibana is served by a back end server. This setting specifies the port to use.
server.port: 5601
# The Kibana server's name.  This is used for display purposes.
server.name: "Kibanushka"
# The URLs of the Elasticsearch instances to use for all your queries.
elasticsearch.hosts: ["http://172.29.251.69:9200"]
# Specifies locale to be used for all localizable strings, dates and number formats.
# Supported languages are the following: English - en , by default , Chinese - zh-CN .
i18n.locale: "en"